---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #dedede;
$background-color: #0a0a11;
$brand-color:      lighten(blue, 32);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    720px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "comments"
;

.center-image {
  margin: 0 auto;
  display: block;
  max-width: 480px;
  max-height: 480px;
}

/**
 * This selector is used to give captions to images
 */
img + em {
  font-weight: bold;
  font-size: small;
  display: block;
  padding: 24px;
  max-width: 75%;
  text-align: justify;
  margin: auto;
}

.caption {
  font-weight: bold;
  font-size: small;
  text-align: center;
  padding-bottom: 12px;
}


/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Lora|Lora:700i|Share+Tech+Mono|Lato|Noto+Sans|Anton|Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Cinzel|Passion+One');
