---
layout : default
title  : Posts
---

<div class="home">

  <div class="sidepane about">
    {% include about.html %}
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post">
        <div class="post-detail"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp;{{ post.date | date: "%Y %b %-d" }}</div>
        <div class="post-header">
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        </div>
        <div class="post-detail"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{% include read-time.html %}</div>
        <div class="post-excerpt">{{ post.excerpt | markdownify }}</div>
        {% include tagging.html %}
      </li>
    {% endfor %}
  </ul>

</div>
