{% extends "page.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/about.css" />
{% endblock %}

{% block sidepane %}
<img class="rounded-full py-4 w-3/4 m-auto"
     src="https://avatars3.githubusercontent.com/u/20231758?s=400&u=bf4a8570d64ab38e3795e6bd7fad4dca7da8113c&v=4" />
<p align="center">
    <a href="https://github.com/P403n1x87" target="_blank">
        <img alt="P403n1x87 @ GitHub Pages"
             class="p-1"
             src="https://img.shields.io/badge/-P403n1x87-000000?style=flat-square&logo=GitHub&logoColor=white" />
    </a>
    <a href="https://www.linkedin.com/in/gabriele-tornetta-b2733759" target="_blank">
        <img alt="LinkedIn"
             class="p-1"
             src="https://img.shields.io/badge/-Gabriele%20Tornetta-0077B5?style=flat-square&logo=Linkedin&logoColor=white" />
    </a>
    <a href="https://stackexchange.com/users/528399/phoenix87" target="_blank">
        <img alt="Stack Exchange"
             class="p-1"
             src="https://img.shields.io/badge/-phoenix87-1E5297?style=flat-square&logo=Stack-Exchange&logoColor=white" />
    </a>
    <a href="https://steamcommunity.com/profiles/76561198092800937" target="_blank">
        <img alt="Steam"
             class="p-1"
             src="https://img.shields.io/badge/-phoenix1987-171a21?style=flat-square&logo=Steam&logoColor=#c7d5e0" />
    </a>
    <a href="https://twitter.com/p403n1x87" target="_blank">
        <img alt="Twitter"
             class="p-1"
             src="https://img.shields.io/badge/-@p403n1x87-1DA1F2?style=flat-square&logo=Twitter&logoColor=white" />
    </a>
    <a href="https://en.wikipedia.org/wiki/User:Gabriele_Nunzio_Tornetta" target="_blank">
        <img alt="wikipedia"
             class="p-1"
             src="https://img.shields.io/badge/-Gabriele%20Nunzio%20Tornetta-7f7f7f?style=flat-square&logo=Wikipedia&logoColor=black&labelColor=white" />
    </a>
</p>
{% endblock %}
