<img src="{{ site.baseurl }}/images/logo.svg"/>

<div class="flex-container flex-row">
  <img src="https://avatars3.githubusercontent.com/u/20231758?s=400&u=bf4a8570d64ab38e3795e6bd7fad4dca7da8113c&v=4" id="me" />
  <h2>Gabriele N. Tornetta</h2>
</div>

<p>Pushing forward against boundaries since 1987.</p>

<div class="social-bar">
  <a href="https://www.facebook.com/g.n.tornetta"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
  <a href="https://github.com/P403n1x87"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://plus.google.com/u/0/+GabrieleTornetta"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/gabriele-tornetta-b2733759/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="https://stackexchange.com/users/528399/phoenix87"><i class="fa fa-stack-exchange" aria-hidden="true"></i></a>
  <a href="https://en.wikipedia.org/wiki/User:Gabriele_Nunzio_Tornetta"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a>
</div>
