<script src="{{ site.url }}/js/comments.js"></script>

<form id     = "post-comment"
      class  = "comment"
      method = "post"
      action = "">

  <input type        = "text"
         name        = "fields[name]"
         id          = "name"
         placeholder = "Name"/>

  <input type        = "text"
         name        = "fields[email]"
         placeholder = "E-mail address (optional; stored hashed for privacy)"/>

  <textarea name        = "fields[comment]"
            id          = "comment"
            rows        = "5"
            placeholder = "Write your comment here. You can use markdown and LaTeX (use $...$ to inline)"></textarea>

  <button type  = "button"
          class = "flat_button"
          id    = "btn-submit-comment"
          onClick="submitComment();">
    SUBMIT FOR APPROVAL
  </button>


  <!-- Hidden fields -->

   <input type  = "hidden"
          name  = "fields[pic]"
          value = "{{ page.pic }}"/>

    <input type  = "hidden"
           id    = "timestamp"
           name  = "fields[timestamp]"
           value = "{{'now' | date: '%s' }}"/>

    <input type  = "hidden"
           id    = "parent"
           name  = "fields[parent]"
           value = "0"/>

</form>

<div id="snackbar"></div>
