<div class="comments">
  <h1>Comments</h1>
  {% assign comments = site.data.comments | sort %}
  {% assign cnt = 0 %}
  <ul class="comment-list">
    {% for comment in comments %}
      {% assign data = comment[1] %}

      {% if data.pic == page.pic %}
      {% assign cnt = cnt | plus:1 %}
      <li>
        <div class="comment">
          <div class="comment-text">{{ data.comment | markdownify }}</div>
          <div class="comment-info">
            <i class="fa fa-pencil" aria-hidden="true"></i> <span>{{ data.name }}</span> <i class="fa fa-envelope-o" aria-hidden="true"></i><span>{{ data.email }}</span> <i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ data.timestamp | date: "%a, %b %d, %Y @ %H:%M" }}</span>
          </div>
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% if cnt > 0 %}
    {{ cnt }} {% if cnt == 1 %}comment{% else %}comments{% endif %}
  {% else %}
    No comments yet. Be the first to leave one!
  {% endif %}
</div>
