<div class="post-info">
  <div class="post-detail"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp;{{ post.date | date: "%Y %b %-d" }}</div>
  <div class="post-detail"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{% include read-time.html %}</div>
  {% include tagging.html %}
  {% if post.github %}
    <div class="post-detail"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;<a href="https://github.com/{{ post.github }}">{{ post.github | replace: 'tree/master/', '' }}</a></div>
  {% endif %}
</div>
