.comments {
  padding: $spacing-unit 2*$spacing-unit $spacing-unit 2*$spacing-unit;
  font-size: 80%;
}

.comment-list {
  margin-left: 0;
  list-style: none;

  > li {
      margin-bottom: .5*$spacing-unit;
      padding: 8px $spacing-unit 8px $spacing-unit;
      border-left: thick solid lighten(#061212, 25%);
      background-color: #061212;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-radius: 6px;
      box-shadow: 0 0 12px 0px lighten(#061212, 25%);
  }
}

.comment-info {
  font-size: 80%;
  font-family: "Noto Sans";
  color: lighten(#061212, 75%);
  border-top: 1px solid lighten(#061212, 25%);
  padding-top:8px;

  span {
    margin-left: 4px;
    margin-right: 12px;
  }
}
