.comments {
  font-size: $small-font-size;

  h2 {
    font-size: 100%;
    margin-top:24px;
  }

  p {
    margin-bottom: 0px;
  }
}

.comment-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: .5*$spacing-unit;
  }
}

.comment-info {
  font-size: $x-small-font-size;
  color: $gray;

  span {
    margin-left: 4px;
    margin-right: 12px;
  }
}

.comment-text p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.comment-container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

.comment input, textarea, button {
  display: block;

  min-width: 90%;
  max-width: 90%;
  padding: 12px;
  margin:auto;
  margin-top: 6px;
  margin-bottom: 6px;
  background: transparent;
  border: 3px solid grey;
  color: white;
  outline:none;
}

.comment, .comment-reply {
  flex: 1 100%;
}

.gravatar {
  display: block;
  width: 48px;
  border-radius: 999px;
  margin: 8px;
}

.small {
  width: 36px;
}

ul.comment-replies {
  margin-left:0px;
  margin-bottom: 0px;
  list-style: none;
}

div.comment-replies {
  padding:4px;
}

.comment-reply {
  margin: 0px;
}

.flat_button {
  background-color: $yellow;
  color: $black;
  padding: 12px !important;
  width: auto;
  margin-top: 24px;
  min-width: 0px !important;
  max-width: none !important;
  border: none;
  font-family: $monospace3;

  transition: background-color 300ms !important;
  transition: top 300ms;
}

.flat_button:hover {
  background-color: $black;
  color: $yellow;
}

.flat_button:active {
  position:relative;
  top:4px;
}

.action {
  font-family: $sans-serif3;
  font-weight: bold;
  font-size: $x-small-font-size;
  margin-top: 6px;
  margin-bottom: 6px;
  color: $orange;
}

.action:hover { cursor: pointer; cursor: hand; }

/*
 * Snackbar
 */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-family: $monospace1
}

 /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
