/**
 * Home
 */

.flex-container {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.sidepane {
  width: $sidepane-width;
  padding-right: $spacing-unit * 2;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/**
 * Site header
 */
.site-header {
  display: block;
  width: 100%;

  min-width: 440px;

  .wrapper {
    background-color: $yellow;
    margin-top: $spacing-unit;
  }

  .blinking-cursor {
    font-weight: 100;
    color: $yellow;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: $yellow;
    }
  }

  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: $yellow;
    }
  }

  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: $yellow;
    }
  }

  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
}

.site-title {
  color: $yellow;
  font-size: $icon-font-size;
  font-weight: 200;
  font-family: $monospace1;
  margin-left:24px;
  margin: $spacing-unit;

  a {
    color: $yellow;

    &:hover {
      font-weight: 400;
    }

  }

  &,
  &:visited {
    color: $yellow !important;
  }

  strong {
    font-weight: 600;
    color: $red;
    //font-size: $large-font-size * 2;
  }
}

.site-nav {
  padding-left: 16px;

  .menu-icon {
    display: none;
  }

  .page-link {
    display: inline-block;
    color: $maroon;
    background-color: $yellow;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    padding-top: $spacing-unit / 4;
    padding-bottom: $spacing-unit / 4;
    font-weight: 400;
    font-size: $large-font-size;
    font-family: $monospace3;

    // Gaps between nav items, but not on the last one
    // &:not(:last-child) {
    //   margin-right: 20px;
    // }
  }

  .page-link:hover {
    background-color: $maroon;
    color: $yellow;
    text-decoration: none;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  background: url(../images/logo_bg.svg);
  background-position: 50% 35%;

  background-repeat: no-repeat;
  background-size: 150%;

  color: #EEEEEE;
  box-shadow: 0 -2px 16px darken($black, 100);
  font-family: $sans-serif1;

  .wrapper {
    padding: 2 * $spacing-unit;
    background-color: rgba(11, 11, 11, .99);

  }

  .footer-heading {
    font-size: $large-font-size;
    margin-bottom: $spacing-unit / 2;
    font-weight: 400;
    font-family: inherit;
  }
}



.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $small-font-size;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-copyright {
  color: $grey-color-dark;
  font-size: $x-small-font-size;
  text-align: center;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .site-header {
    min-width: 0px;
    min-height: 64px;

    img {
      display: none;
    }
  }

  .site-title {
    font-size: $xx-large-font-size;
    margin-top: 12px;
    display: block;
  }

  .home {
    padding-left: 0px;
    padding-right: 0px;
  }

  .post-header, .post-text, .comments {
    width: 100%;
  }

  .highlight {
    left: -12px !important;

    pre {
      padding-left: 12px !important;
    }
  }

  .gravatar {
    width: 36px !important;
  }

  .small {
    width: 24px !important;
  }

  img {
    max-width: 90% !important;
  }
}



/**
 * Page content
 */
.page-content {

  .wrapper {
    padding: $spacing-unit;
  }
}

.page-heading {
  text-align: center;
  display: block;
  // background-color: rgba(30, 10, 10, .95);
  margin: auto;
  margin-top: 0;
  margin-bottom: $spacing-unit;
  padding-top:$spacing-unit;
  padding-bottom: 12px;
  max-width: 80%;
}


/**
 * Categories and labels
 */

.category {
  border-radius: 12px;
  background-color: $olive;
  color: $silver;
  padding: 2px 12px;
  margin-right: 4px;
  margin-bottom: 2px;
  white-space: pre;
  display: inline-block;
}

.tag {
  font-family: $monospace2, monospace;
  border-radius: 4px;
  background-color: $teal;
  color: $silver;
  padding: 2px 6px;
  margin-right: 4px;
  margin-bottom: 6px;
  white-space: pre;
  display: inline-block;
}


/**
 * About
 */

.about {
  font-family: $sans-serif1;
  line-height: 1.5;

  > p {
    margin-bottom: $spacing-unit;
  }
}

.social-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: $icon-font-size;
  padding-bottom: $spacing-unit;

  > a {
    display: block;
    padding-right: 8px;
    color: $gray;

    &:hover {
      color: $silver;
    }
  }
}

#me {
  border-radius: 999px;
  max-width: 64px;
  max-height: 64px;
  height: auto;
  width: auto;
  margin-right: 8px;
}
