/**
 * Home
 */

.home {
  padding-left: 2 * $spacing-unit;
  padding-right: 2 * $spacing-unit;
}

/**
 * Site header
 */
.site-header {
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 10px 16px #000000;

  min-width: 440px;

  position: relative;
}

.site-title {
  font-size: 48px;
  font-weight: 300;
  font-family: "Cinzel";
  letter-spacing: -1px;
  margin-left:24px;
  margin-bottom: 0;
  text-align: center;
  bottom: 10px;

  &,
  &:visited {
    color: white; // $grey-color-dark;
  }

}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background-color: #111111;
  color: #EEEEEE;
  box-shadow: 0 -10px 16px #000;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
  font-family: "Cinzel";
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-copyright {
  color: $grey-color-dark;
  font-size: small;
  text-align: center;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .site-header {
    min-width: 0px;
    min-height: 64px;

    img {
      display: none;
    }
  }

  .site-title {
    font-size: 18pt;
    margin-top: 12px;
    display: block;
  }

  .home {
    padding-left: 0px;
    padding-right: 0px;
  }

  .post-header, .post-excerpt, .post-content, .comments {
    padding: 12px !important;
    font-size: 90% !important;

    .post-title {
      font-size: 18pt;
    }
  }

  .highlight {
    left: -12px !important;
  }

  .gravatar {
    width: 36px !important;
  }
  
  .small {
    width: 24px !important;
  }

  img {
    max-width: 90% !important;
  }
}



/**
 * Page content
 */
.page-content {
  background-image: url('../images/logo_bg.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.page-heading {
  font-size: 20px;
  text-align: center;
  display: block;
  background-color: rgba(30, 10, 10, .95);
  margin: auto;
  margin-top: 0;
  margin-bottom: $spacing-unit;
  padding-top:$spacing-unit;
  padding-bottom: 12px;
  max-width: 80%;
  font-family: "Cinzel";
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
    font-family: 'Passion One', cursive;
    color: darken(blue, 32);
}

.post-link {
    display: block;
    font-size: 18px;
    color: white;
    font-family: "Lato";
}



/**
 * Posts
 */

.post {
  background:rgba(8, 8, 16, 0.97);
  box-shadow: #000 0 0 16px;
  border-radius: 0 0 8px 8px;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

ul .post {
  .post-header {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    padding-top: .5*$spacing-unit;
    padding-bottom: .5*$spacing-unit;
    font-size: 80%;
    line-height: 1;
    margin-top: 0;
  }

  .post-info {
    padding: 0.5 * $spacing-unit $spacing-unit .5* $spacing-unit $spacing-unit;
  }

  .post-excerpt {
    padding: .5*$spacing-unit $spacing-unit .5*$spacing-unit $spacing-unit;
    display: block;
    text-align: justify;
    font-size: 80%;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    background-color: #1a1a20;
    box-shadow: 0 16px 16px -4px black;

    p {
      margin: 0;
    }
  }


  h2 {
    margin: 0;
  }
}

.post-header {
    background-color: lighten(blue, 16);
    padding: $spacing-unit 2*$spacing-unit .5*$spacing-unit 2*$spacing-unit;
    // margin-top: $spacing-unit;
}

.post-title {
    font-size: 36px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-excerpt {
  padding: $spacing-unit 2*$spacing-unit .5*$spacing-unit 2*$spacing-unit;
  display: block;
  text-align: justify;
  font-size: 125%;
  font-family: "Lora";
  font-style: italic;
  font-weight: bold;
  background-color: #1a1a20;

  p {
    margin: 0;
  }
}

.post-content {
    padding: $spacing-unit 2*$spacing-unit $spacing-unit 2*$spacing-unit;
    text-align: justify;
    background-color: #1a1a20;
    box-shadow: 0 8px 16px -4px black;

    h1 {
        font-size: 200%;

        @include media-query($on-laptop) {
            font-size: 32px;
        }
    }


    h2 {
        font-size: 160%;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 140%;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 130%;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-info {
  font-size: 70%;
  font-family: "Comfortaa";
  border-radius: 0 0 8px 8px;
}

/**
 * Categories and labels
 */

.category {
  border-radius: 12px;
  background-color: #302030;
  color: lighten(grey, 20);
  padding: 2px 12px;
  margin-right: 4px;
  margin-bottom: 2px;
  white-space: pre;
  display: inline-block;
}

.tag {
  font-family: 'Share Tech Mono', monospace;
  border-radius: 4px;
  background-color: darken(grey, 30);
  color: lighten(grey, 20);
  padding: 2px 6px;
  margin-right: 4px;
  margin-bottom: 2px;
  white-space: pre;
  display: inline-block;
}

.post-attr-table td {
  vertical-align: top;
}
