---
layout : default
---

<article class="post" itemscope itemtype="http://schema.org/AboutPage">

  <div class="sidepane about">
    <img src="https://avatars3.githubusercontent.com/u/20231758?s=400&u=bf4a8570d64ab38e3795e6bd7fad4dca7da8113c&v=4" id="me" class="circled center"/>
    <h2>Gabriele N. Tornetta</h2>
    <div class="post-info">
      <div class="post-detail"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Born September 5, 1987</div>
      <div class="post-detail"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;Italian nationality</div>
      <div class="post-detail"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;MSc, Theoretical Physics</div>
      <div class="post-detail"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;PhD, Pure Mathematics</div>
      <div class="post-detail"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Currently in Edinburgh, Scotland.</div>
    </div>

    {% include social-bar.html %}
  </div>

  <div class="about-text">
    {{ content }}
  </div>
</article>
