---
layout: default
---

<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="sidepane post-header">
    {% assign post = page %}
    {% include post-info.html %}

    <div class="toc">
      <div class="heading">Table of Contents</div>
      {{ content | toc_only }}
    </div>

  </header>

  <div class="post-text">

    <div class="post-excerpt">
      {{ page.excerpt | markdownify }}
    </div>

    <div class="post-content" itemprop="articleBody">
      {{ content | inject_anchors }}
    </div>

    {% include comments.html %}
  </div>
</article>
